@using Category = BlazorUI.Data.Category
<div class="m-3" style="color: #ffffff">
    <label>Categories:</label>
    <EditForm Model="@CategoriesList">
        @foreach (var c in CategoriesList)
        {
            <p>
                <InputCheckbox @bind-Value="c.IsSelected"/> @c.Name
            </p>
        }
    </EditForm>
</div>

@code
{
    [Parameter]
    public static IList<Category> CategoriesList { get; set; } = new List<Category>();
}